{% extends 'base.html' %}

{% block head %}
<title>About-me</title>
{% endblock %}

{% block body %}
<div class="setcenter">
    <div class="welcome_name">
        <h2>
            Welcome!
        </h2>
    </div>
    <div class="formbuttonconfig">
        <button onclick="notreadyyet()" class="formbutton">
            <h1>
                About me
            </h1>
        </button>
        <a href="projects">
            <button onclick="notreadyyet()" class="formbutton">
                <h1>
                    Projects
                </h1>
            </button>
        </a>
        <!-- <a href="register">
            <button class="formbutton">
                <h1>
                    Rate my work
                </h1>
            </button>
        </a> -->
    </div>
</div>
{% endblock %}