{% extends 'base.html' %}

{% block head %}
<title>HomePage</title>
{% endblock %}

{% block body %}
<div class="setcenter">
    <div class="welcome_name">
        <h2>
            Welcome!
        </h2>
    </div>
    <!-- welcome tekst -->
    <div class="formbuttonconfig">
        <button onclick="notreadyyet()" class="formbutton">
            <h1>
                About me
            </h1>
        </button>
        <!-- about button that has a javascript function saying its not ready -->
        <a href="preview">
            <button class="formbutton">
                <h1>
                    Projects
                </h1>
            </button>
        </a>
        <!-- button that takes you to the projects page -->
        <!-- <a href="register">
            <button class="formbutton">
                <h1>
                    Rate my work
                </h1>
            </button>
        </a> -->
    </div>
</div>
{% endblock %}