{% extends 'base.html' %}

{% block head %}
<title>HomePage</title>
{% endblock %}

{% block body %}
<div class="setcenter">
    <div class="formbuttonconfig">
        <button onclick="notreadyyet()" class="formbutton">
            <h1>
                Make your own form
            </h1>
        </button>
        <a href="results">
            <button class="formbutton">
                <h1>
                    Form statistics
                </h1>
            </button>
        </a>
        <a href="ourforms">
            <button class="formbutton">
                <h1>
                    Try our forms
                </h1>
            </button>
        </a>
    </div>
</div>
{% endblock %}
