{% extends 'base.html' %}

{% block head %}
<title>Make an account</title>
{% endblock %}

{% block body %}
<div class="setcenter">
    <form action="/form" method="POST">
        <div class="formdirection">
            <p>How was your experience of this website?</p>
            <div class="formanswer">
                <input type="radio" id="bad" name="experience" value="bad">
                <label for="bad">Bad</label>
            </div>
            <div class="formanswer">
                <input type="radio" id="okay" name="experience" value="okay">
                <label for="okay">Okay</label>
            </div>
            <div class="formanswer">
                <input type="radio" id="good" name="experience" value="good">
                <label for="good">Good</label>
            </div>

            <p>would you use it again?:</p>
            <div class="formanswer">
                <input type="radio" id="no" name="reuse" value="no">
                <label for="no">No</label>
            </div>
            <div class="formanswer">
                <input type="radio" id="maybe" name="reuse" value="maybe">
                <label for="maybe">Maybe</label>
            </div>
            <div class="formanswer">
                <input type="radio" id="yes" name="reuse" value="yes">
                <label for="yes">Yes</label>
            </div>
            <p>what could be better?:</p>

            <div class="formanswer">
                <input type="text" id="change" name="better" value="change">
                <label for="change"></label>
            </div>

            <button class="formbutton" type="submit" value="Submit">
                <h1>
                    Submit
                </h1>
            </button>
        </div>
    </form>
</div>
{% endblock %}